<a href="https://colab.research.google.com/github/jstawarz/Final_Ski_Resort/blob/Fabiana/Resorts_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import chardet
from glob import glob

In [3]:
!pip3 install glob2

Requirement already satisfied: glob2 in /usr/local/lib/python3.7/dist-packages (0.7)

In [4]:
from glob import glob

In [6]:
root = '/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive'
Disco, Bri = glob(f'{root}/Tripadvisor_Discovery_Ski_Area_Rating.csv'), glob(f'{root}/Tripadvisor_Bridger_Rating.csv')
print (Disco, Bri)

['/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Discovery_Ski_Area_Rating.csv'] ['/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Bridger_Rating.csv']

In [ ]:
root = '/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive'

['/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Discovery_Ski_Area_Rating.csv'] ['/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Bridger_Rating.csv']

In [22]:
Brie='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Bridger_Rating.csv'
df = pd.read_csv(Brie, index_col=None, header=0)
Brie=df
type(Brie)

pandas.core.frame.DataFrame

In [23]:
Disco='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Discovery_Ski_Area_Rating.csv'
df = pd.read_csv(Disco, index_col=None, header=0)
Disco=df

In [25]:
Redl='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Red_Lodge_Mountain_Rating.csv' 
df = pd.read_csv(Redl, index_col=None, header=0)
Redl=df

In [24]:
Show='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Showdown_Ski_Area_Rating.csv'
Show = pd.read_csv(Show, index_col=None, header=0)

In [19]:
Snow='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Snowbowl_Ski_Rating.csv'
Snow = pd.read_csv(Snow, index_col=None, header=0)

In [20]:
White='/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Tripadvisor_Whitefish_Ski_Resort_Rating.csv'
White = pd.read_csv(White, index_col=None, header=0)

In [27]:
all_ski_df=pd.concat([Brie, Disco, Redl, Show, Snow, White])
all_ski_df.shape

(896, 256)

In [32]:
all_ski_df[['Ski Area', 'Review Date', 'Review Star Rating (out of 5)']]

                      Ski Area    Review Date  Review Star Rating (out of 5)
0                      Bridger       Jan 2013                              5
1                      Bridger       Mar 2012                              5
2                      Bridger       Jan 2013                              5
3                      Bridger       Feb 2012                              4
4                      Bridger       Jan 2013                              2
..                         ...            ...                            ...
230  Whitefish Mountain Resort   January 2020                              5
231  Whitefish Mountain Resort  February 2020                              5
232  Whitefish Mountain Resort  February 2020                              5
233  Whitefish Mountain Resort  February 2020                              5
234  Whitefish Mountain Resort  February 2020                              5

[896 rows x 3 columns]

# New Section