<a href="https://colab.research.google.com/github/jstawarz/Final_Ski_Resort/blob/Fabiana/WeatherXvisits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import chardet
from glob import glob

In [2]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Resort_reviews_data_DRive/Master File Weather Data.CSV")

In [3]:
df

       Unnamed: 0  REGION_ID  ... MIN_TEMPERATURE SNOW_FALL
0               0          3  ...             NaN       NaN
1               1          3  ...             NaN       NaN
2               2          3  ...             NaN       NaN
3               3          3  ...             NaN       NaN
4               4          3  ...             NaN       NaN
...           ...        ...  ...             ...       ...
74183       12414          1  ...             3.0       NaN
74184       12415          1  ...             0.0       NaN
74185       12416          1  ...             2.0       NaN
74186       12417          1  ...             1.0       NaN
74187       12418          1  ...           -14.0       NaN

[74188 rows x 9 columns]

In [4]:
#df.drop(df.columns[[0]],axis=1,inplace=True)

In [5]:
df.isnull().sum() 
#2 to 5% missing

Unnamed: 0             0
REGION_ID              0
STATION_ID             0
NAME                   0
DATE                   0
SNOW_DEPT          24677
MAX_TEMPERATURE     2880
MIN_TEMPERATURE     2719
SNOW_FALL          51570
dtype: int64

In [6]:
df.dtypes

Unnamed: 0           int64
REGION_ID            int64
STATION_ID          object
NAME                object
DATE                object
SNOW_DEPT          float64
MAX_TEMPERATURE    float64
MIN_TEMPERATURE    float64
SNOW_FALL          float64
dtype: object

In [7]:
df["DATE"]=pd.to_datetime(df['DATE'])

In [8]:
import  datetime

In [9]:
#d=datetime.date(2000,1,1)
df_new=df[(df['DATE'].dt.year >= 2000)]

In [10]:
%matplotlib inline
import matplotlib.pyplot as plt

In [13]:
df_new.head()

      Unnamed: 0  REGION_ID  ... MIN_TEMPERATURE SNOW_FALL
4383        4383          3  ...            16.0       NaN
4384        4384          3  ...            13.0       NaN
4385        4385          3  ...            13.0       NaN
4386        4386          3  ...            19.0       NaN
4387        4387          3  ...            17.0       NaN

[5 rows x 9 columns]